.photoSec {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.911);
}

.photoList {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.photoBox {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  margin: 20px;
}

.photoImg {
  display: flex;
  width: 300px;
}

.moreBox {
  display: flex;
  width: 300px;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(145, 144, 144);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 2px solid #fff;
  color: rgb(255, 255, 255);
}

.moreBoxLink:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(54, 54, 244);
}
